# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Runtime data
/pids
*.pid
*.seed
*.pid.lock

# Tools / Scripts
*.ps1
/code.ps1

# OS Files
.DS_Store
Thumbs.db


.env
/all_js_files.txt
/auth.json